<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Stage</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="https://kit.fontawesome.com/f9a809ddea.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-4 changeSort">
                    <i class="fa-solid fa-ellipsis-vertical" style="color: white"></i>
                    <select>
                        {% for k, v in other_cats.items() %}
                            <option><a href={{v}}> {{ k }}</a></option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4">
                    <h1 class="appname">On Stage</h1>
                </div>
                <div class="w-100"></div>
            </div>
            <div class="input-group search">
                <form action="">
                    <input type="text" class="form-control" placeholder="검색" aria-label="검색" aria-describedby="basic-addon1">
                </form>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row category">

                {% for k, v in menu.items() %}
                {% if v == condition %}
                <div class="col-4 selectCat"><a href={{v}}> {{ k }}</a></div>
                {% else %}
                <div class="col-4 unselectCat"><a href={{v}}> {{ k }}</a></div>
                {% endif %}
                {% endfor %}
            </div>
            {% for v in contents %}
            <div OnClick="location.href='/item/{{ v.mt20id }}'" class="row item">
                <div class="col-5">
                    <div class="poster">
                        <img src="{{v['poster'] }}" class="poster">
                    </div>
                </div>
                <div class="col-7">
                    <div class="info">
                        <div class="title"><b>#{{ v['prfnm'] }}</b></div>
                        <div class="detailedInfo">
                            <div class="row">
                                <div class="col-5 date">#{{ v['prfstate']}}</div>
                                <div class="col-7 genre">#{{ v['genrenm'] }}</div>
                            </div>
                            <div class="place">#{{ v['fcltynm']}}</div>
                        </div>
                    </div>
                </div>
            </div>  
            {% endfor %}          
        </div>
    </section>
</body>
</html>