<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Stage</title>    
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/f9a809ddea.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-4 goHome" onclick="location.href='/'">HOME</div>
                <div class="col-4">
                    <h1 class="appname">On Stage</h1>
                </div>
                <div class="w-100"></div>
            </div>
            <div class="input-group search">
                <form action="/search" method="GET">
                    <input type="text" class="form-control" placeholder="공연 이나 전시회 이름을 검색해보세요" aria-label="검색" aria-describedby="basic-addon1", name="search">
                </form>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button style="margin-top:1rem;" onClick="history.go(-1)"><i class="fa-solid fa-arrow-left" style="color: #000825; opacity:30%; font-size: 2rem;"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-8">
                    <img src="{{contents['poster'] }}" class="poster">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table" style="font-family: Inter !important;">
                        <tr>
                            <th scope="row"><li>공연명</li></th>
                            <td>{{ contents['prfnm'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><li>공연기간</li></th>
                            <td>{{contents['prfpdfrom']}} <br>- {{contents['prfpdto']}}</td>
                        </tr>
                        <tr>
                            <th scope="row"><li>공연장소</li></th>
                            <td>{{contents['fcltynm']}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>